# Secrets and Keys
.env

# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Data & PDFs (Keeps your private docs off the internet)
data/
*.pdf

# Streamlit config
.streamlit/